{% load static %}
{% include "inc/header.html" %}

<!-- Blank Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row vh-80 bg-secondary rounded align-items-center justify-content-center mx-0">
        <div class="col-md-12 text-center">
            <img src="{% static 'img/bem_vindo.webp' %}" alt="Welcome">
        </div>
        <div class="col-md-12 text-center">
            <h3>Breve apresentação do aplicativo</h3>
            <h5>talvez um video mostrando o basico???</h5>
        </div>
    </div>
</div>
<!-- Blank End -->

{% include "inc/footer.html" %}