{% load static %}
{% include "inc/header.html" %}

<!-- Blank Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
        <div class="col-md-6 text-center">
            <h1>{{text}}</h1>
            <h3>Breve merchant dos bot (fique rico)</h3>
            <h3>apresenta as opções</h3>
            <h4>abre uma nova janela (igual binary-com)??</h4>
            <h4>coloca na tela e para trocar de bot fica num select</h4>
        </div>
    </div>
</div>
<!-- Blank End -->

{% include "inc/footer.html" %}