{% load static %}
{% include "inc/header.html" %}

<!-- Blank Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4 d-flex justify-content-center">
        <div class="col-sm-12 col-xl-12">
            <h2>Videos do curso</h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="d-flex flex-row justify-content-between">
                {% for video in videos %}
                <div style="margin-right: 2px;">
                    <h4>{{video.title}}</h4>
                    <iframe width="400" height="300" src="https://www.youtube.com/embed/{{video.url}}"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen>
                    </iframe>
                    <hr />
                    <p style="white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 400px; font-weight: bold;">{{video.description}}</p>
                    <small>Duração: {{video.duration}}min</small>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Blank End -->

{% include "inc/footer.html" %}