{% load static %}
{% include "inc/header.html" %}
<!-- Blank Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4 d-flex justify-content-center" style="height: 80vh !important">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h2 class="mb-4">Tire sua dúvida conosco</h2>
                <form action="/contact/send" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Telefone</label>
                        <input type="text" class="form-control" id="phone" name="phone">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">Você nunca irá aparecer nos nossos e-mais de Marketing..
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="body" class="form-label">Mensagem</label>
                        <textarea class="form-control" id="body" name="body" rows="7"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
                <a href="https://api.whatsapp.com/send?phone=5547992621640&text=Ol%C3%A1%2C%20tenho%20uma%20d%C3%BAvida%20sobre%20a%20APLICA&#199;&#195;O."
                    target="_blank"><button type="button" class="btn btn-success mt-4">Whatsapp</button></a>
            </div>
        </div>
    </div>
</div>
<!-- Blank End -->

{% include "inc/footer.html" %}